@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    margin: 0px;
}

:root {
    --font01: 'Passion One', cursive;
    --font02: 'Sriracha', cursive;
    --font03: Arial, Helvetica, sans-serif;
}

header {
    background-color: black;
    padding: 50px;
}

header > h1 {
    font-family: var(--font01);
    font-size: 10vw;
    font-weight: normal;
    color: white;
    text-align: center;
    font-variant: small-caps;
}

header > p {
    font-family: var(--font03);
    text-align: center;
    color: white;
    
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

main {
    font-family: var(--font02);
    font-size: 3.5vw;
    line-height: 2em;
    
}

div.joaninha {
    background-image: url('../imagens/background001.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position:right center;
    background-repeat: no-repeat;
    height: 70vw;
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.425);
}

div.livros{
    background-image: url(../imagens/background002.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 70vw;
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.425);
}

article {
    padding: 5vh;
   
    
}

div > p{
    color: white;
    background-color: rgba(0, 0, 0, 0.466);
    display: inline-block;
    position: absolute;
    margin-top: 6vh;
    margin-left: 4vw;
    padding: 10px;
    text-shadow: 1px 1px 0px black;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    font-family: var(--font03);
    padding: 5px;
}